body {
	color: #ccc5b9;
	background-color: #403d39;
	font-family: monospace;
}

i {
	color: #fffcf2;
}

a {
	font-weight: bold;
	color: #eb5e28;
}

.content {
	text-align: center;
}

.top_bar {
	display: inline-block;
	padding-left: 10px;
	padding-top: 10px;
}
