body {
	text-align: center;
	font-family: Arial;
}

hr {
	margin-left: 25%;
	margin-right: 25%;
	height: 10px;
	background-color: black;
	border-radius: 10px;
}

p {
	letter-spacing: 15px;
	font-weight: bold;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
